<template>
  <v-navigation-drawer
    id="core-navigation-drawer"
    v-model="drawer"
    :right="$vuetify.rtl"
    mobile-breakpoint="960"
    app
    width="260"
    v-bind="$attrs"
  >
    <v-divider class="mb-1" />

    <v-list
      dense
      nav>
      <v-list-item>
        <v-list-item-avatar
          class="align-self-center"
          color="white"
          contain
        >
          <v-img
            src="../../../../assets/logo.jpg"
            class="logo"
          ></v-img>
         
        </v-list-item-avatar>

        <v-list-item-content>
        <div class="titulomenu">Expediente Judicial Electronico</div>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider class="mb-2" />

    <v-list
      dense
      expand
      nav
    >
        <v-subheader>EMPRESA</v-subheader>
          <v-list-item-group
            color="primary"
          >
          <template v-for="(item, i) in items">
            <base-item
              v-if="item.grupo==='grupo1'"
              :key="`item-${i}`"
              :item="item"
            />
          </template>
       </v-list-item-group>
       <v-subheader>GESTIONAR</v-subheader>
          <v-list-item-group
            color="primary"
          >
          <template v-for="(item, i) in items">
            <base-item
              v-if="item.grupo==='grupo2'"
              :key="`item-${i}`"
              :item="item"
            />
          </template>
       </v-list-item-group>
    </v-list>

    <template v-slot:append>
      <base-item
        :item="{
          titulo: 'ejemplo',
          icon: 'mdi-package-up',
          to: '/configuraciones',
        }"
      />
    </template>
  </v-navigation-drawer>
</template>

<script>
import BaseItem from '../../../../components/base/Item.vue'
  export default {
    name: 'DashboardCoreDrawer',
    components:{
        BaseItem
    },
    data: () => ({
      items: [
        {
          titulo: 'Dashboard',
          icon: 'mdi-view-dashboard',
          subtitle: 'ejemplo1',
          to: '/',
          grupo: 'grupo1',
        },
        {  
          titulo: 'memoriales',
          icon: 'mdi-account',
          subtitle: 'ejemplo1',
          to: '/memoriales',
          grupo: 'grupo1',
        },
        {
          titulo: 'causas',
          icon: 'mdi-clipboard-outline',
          subtitle: 'ejemplo1',
          to: '/causas',
          grupo: 'grupo1',
        },
        {
          titulo: 'Perfil',
          icon: 'mdi-format-font',
          subtitle: 'ejemplo1',
          to: '/dashboard/menu2',
          grupo: 'grupo2',
        },
        {
          titulo: 'Reportes',
          icon: 'mdi-chart-bubble',
          subtitle: 'ejemplo1',
          to: '/dashboard/menu1',
          grupo: 'grupo2',
        },
        {
          titulo: 'Login',
          icon: 'mdi-map-marker',
          subtitle: 'ejemplo1',
          to: '/login',
          grupo: 'grupo2',
        },
        
      ],
    }),

    computed: {
      
      drawer: {
        get () {
          return this.$store.state.drawer
        },
        set (val) {
          this.$store.commit('SET_DRAWER', val)
        },
      },
    },
  }
</script>

<style >
 .titulomenu{
   text-align: start;
   font-style: normal;
 }
 #core-navigation-drawer{
   padding-top: 15px;
 }
</style>
