<template>
  <v-main>
      <div id="microApp">
           <!-- <router-view /> -->
      </div>
      <div>
        <router-view />
      </div>
  </v-main>
</template>

<script>
  export default {
    name: 'DashboardCoreView',

    components: {
      // DashboardCoreFooter: () => import('./Footer'),
    },
  }
</script>
