<template>
  <v-list-item
    :to="item.to"
    :active-class="`black white--text`"
  >
    <v-list-item-icon>
      <v-icon v-text="item.icon" />
    </v-list-item-icon>

    <v-list-item-content >
      <v-list-item-title v-text="item.titulo" />
    </v-list-item-content>

  </v-list-item>
</template>

<script>
  import Themeable from 'vuetify/lib/mixins/themeable'

  export default {
    name: 'Item',

    mixins: [Themeable],

    props: {
      item: {
        type: Object,
        default: () => ({
          href: undefined,
          icon: undefined,
          subtitle: undefined,
          title: undefined,
          to: undefined,
        }),
      }
    },
  }
</script>
