<template >
   <!-- <router-view /> -->
   <dashboard-index/>
</template>

<script>
import DashboardIndex from './views/dashboard/index.vue'
  export default {
    name: 'App',
    components:{
         DashboardIndex
    },
  }
</script>