<template>
  <v-row align="center" justify="center" class="grey lighten-5">
    <v-col cols="12" class="text-center">
      <div class="titleLogin m-b-md">
        <strong>EJE</strong>
      </div>
      <div class="subTitleLogin">
        Expediente Judicial Electrónico
      </div>
    </v-col>

    <template>
      <v-form ref="form" lazy-validation @submit.prevent="login">
        <v-col cols="12">
          <v-hover v-slot:default="{ hover }">
            <v-card
                class="mx-auto"
                max-width="450"
                :elevation="hover ? 8 : 2"
            >
              <v-card-title style="background-color: #FAFAFA">
                <v-list-item style="margin:-15px">
                  <v-list-item-content>
                    <v-list-item-title class="title">Inicio de sesión</v-list-item-title>
                    <v-list-item-subtitle class="subtitle-1"><small>Ingrese sus credenciales</small>
                    </v-list-item-subtitle>
                  </v-list-item-content>

                  <v-spacer></v-spacer>
                  <v-icon x-large>mdi-account</v-icon>
                </v-list-item>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" xs="12">

                      <v-text-field label="Cuenta (*)"
                                    required
                                    :counter="20"
                                    maxlength="20"
                                    id="usuario"
                                    v-model="usuario"
                                    :rules="[v => !!v || 'Cuenta es requerida',
                                                               v => (v && v.length <= 20 && v.length>=5) || 'La Cuenta debe contener al menos 5 caracteres']"
                      ></v-text-field>
                    </v-col>

                    <v-col cols="12" xs="12">

                      <v-text-field
                          id="clave"
                          label="Password (*)"
                          :append-icon="mostrarPass ? 'mdi-eye-off' : 'mdi-eye'"
                          @click:append="() => (mostrarPass = !mostrarPass)"
                          :type="mostrarPass ? 'password' : 'text'"
                          required
                          :counter="20"
                          maxlength="20"
                          v-model="clave"
                          autocomplete="off"
                          :rules="[v => !!v || 'Password es requerido',
                                                           v => (v && v.length <= 20 && v.length>=6) || 'El Password debe ser de 6 a 50 caracteres']"/>
                    </v-col>
                  </v-row>

                </v-container>

              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn type="submit" color="primary" class="pl-4 pr-4" > Ingresar
                  <v-progress-circular
                      v-if="loading"
                      indeterminate
                      color="primary"
                      style="margin-left: 10px"
                  ></v-progress-circular>
                  <v-icon left>mdi-login</v-icon>

                </v-btn>

              </v-card-actions>
              <br>
              <v-divider></v-divider>
              <div class="pa-1 text-center">
                <a href="https://cuenta.ciudadaniadigital.agetic.gob.bo/interaction/YF3LSv2gr7jJUvcCYA2sH">
                  <img src="/img/logo-ciudadania.png" style="width: 80%">
                </a>

              </div>
              <br>
              <v-card-text class="text-center text--white">
                2021 — <strong>Tribunal Supremo de Justicia</strong><br>
              </v-card-text>
            </v-card>
          </v-hover>
        </v-col>

      </v-form>
    </template>


  </v-row>
</template>

<script>

 import store from '@/store/index';
export default {
  name: "login",


  data: () => ({
    mostrarPass: String,
    loading: false,
    usuario: '',
    clave: ''
  }),
  mounted() {
  },
  methods: {
    login(){
      this.loading=true
        this.$router.push({name:'Home'});
      //this.$toastr.success('Bienvenido al sistema');
      store.dispatch('retrieveToken', {
        usuario: this.usuario,
        clave: this.clave
      }).then(response => {
        if(response.data.res){
         // this.$toastr.success(response.data.message);
         this.loading=false
          this.$router.push({name:'Menu'});
        }
        else{
          this.$toastr.error(response.data.message);
        }
      })

    }
  },

}
</script>

<style scope>
.titleLogin {
  color: #25283B;
  font-family: 'Nunito', sans-serif;
  font-size: 54px;
  margin: 0;
}


.subTitleLogin {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 1px;
}
</style>